.blog {
    @apply py-[1.5em];
    @apply bg-[#fcfcfc];
    @apply text-[#1d1d1d] text-[12px] md:text-[1em];
}

.date {
    @apply text-[16px] 2xl:text-[1.2em];
    font-family: 'neuemontreallight', sans-serif;
    word-spacing: .5em;
}

.postSect {
    @apply flex;
    @apply justify-center;
    @apply mt-[3em] md:mt-[2em];
    @apply md:mx-auto;
    @apply w-full;
}

h1, h2, h3 {
    font-family: 'almarena-display-regular', sans-serif;
}

h3 {
    @apply text-[#3864c5];
    @apply text-[3.3em] !important;
    @apply mt-[1rem] mb-[1.5rem] !important;
    @apply leading-none !important;
}


p.excerpt {
    @apply text-[2.4em] lg:text-[2.6em];
    @apply leading-[1.1];
}

.search {
    @apply bg-[#fcfcfc] !important;
    @apply align-middle;
    }

.searchField {
    @apply border-[1px];
    @apply rounded-md;
    @apply border-[#cccccc];
    @apply px-1 py-[2px];
    @apply bg-[#fcfcfc] !important;
    @apply mr-1
}

.searchButton {
    @apply px-1
}