---
import "~/styles/global.css";
import "~/styles/blog.css";

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{content.title}</title>
  <meta name="description" content={content.description}>
</head>
<body class="blog">
    <section class="postSect">
        <div class="contain morePadding  min12Font">
            <p class="date">{content.date}</p>
            <slot />
        </div>
    </section>
</body>
</html>