---
---

<section id="top" class="hero">
    <div class="contain lessPadding justify-between">
        <div class="heroGrid min12Font">
            <a class="logo">Richard Horton</a>
            <div class="smallCaps navItem2">English/History<br>Teacher 2015 -- Present</div>
            <div class="smallCaps navItem3">Available for freelance <br> tutoring in September 2022</div>
            <a class="btn isNav navItem4" href="mailto:materialconditionsblog@gmail.com">
                <div class="btnWrapper">
                    <div class="btnText isTop">Let's Talk</div>
                </div>
            </a>
        </div>
        <div class="heroGrid heroText min12Font">
            <div class="heroTextWrapper">
                <h1 class="heroHeading">Aspiring Developer & English Teacher currently based in Seoul - Korea.</h1>
                <p class="heroP">Hello, I am Richard Horton -- an English and History teacher living in Seoul, South Korea. 
                    Currently working as the Native English Teacher at Gwacheon Middle School.
                </p>
                <a class="btn isCV" href="src/data/Richard-Horton-Resume-2021.pdf" download>
                    <div class="btnWrapper">
                        <div class="btnText">Download my CV <em>&#129107;</em></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="heroGrid heroBtm min12Font">
            <div class="heroSocials">
                <a href="/posts/1">Blog</a>
                <a href="https://github.com/materialcontext">Github</a>
                <a href="https://www.linkedin.com/in/richard-horton-492a67149/">LinkedIn</a>
            </div>
            <div class="heroLocation">
                Seocho-gu
                <br> Seoul, South Korea
            </div>
            <div class="heroVer">version 01</div>
        </div>
    </div>
</section>
