---
const email= 'materialconditionsblog@gmail.com';
---

<nav class="flex justify-between items-center border-b-[1px] pb-4">
    <a class="almarena text-[1.15em]" href="/">Richard Horton</a>
    <div class="search">
        <form action="/search" method="get">
            <input class="searchField" type="text" name="q" placeholder="Search..." onchange=" "  onblur="Search..."/>
            <button class="searchButton" type="submit">Search</button>
        </form>
    </div>
</nav>