---
import SearchInput from './SearchInput';
const email= 'materialconditionsblog@gmail.com';

---

<nav class="flex justify-between items-center border-b-[1px] pb-3">
    <a class="almarena text-[1.15em]" href="/">Richard Horton</a>
    <div class="search">
        <SearchInput />
    </div>
</nav>